<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-native-code" version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-native-code</name>
    <description>Easily extend your hybrid app with Native Code</description>

    <license>MPL</license>
    
    <engines>
        <engine name="cordova" version=">=5.0.0" />
    </engines>

    <!--
                           _         _   _
                 ___ ___ _| |___ ___|_|_| |
                | .'|   | . |  _| . | | . |
                |__,|_|_|___|_| |___|_|___|

    -->
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
        </config-file>

        <framework src="src/android/NativeCode" custom="true" />
        
        <hook type="after_prepare" src="hooks/after_prepare.js" />

    </platform>

</plugin>
